# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build output
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem
*.log
scratch/
test.py

# Local env secrets (Do NOT commit)
.env
.env*.local

# Vercel & IDE
.vercel
.agent/

# Notebooks (Exclude temporary & archive files)
notebooks/archive/
notebooks/testing/

# TypeScript
*.tsbuildinfo
next-env.d.ts
